<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC-vvbS_-M_fvRxSA_5EFfjUDyUCV9sFrI</string>
	<key>GCM_SENDER_ID</key>
	<string>619698515886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.letsSuitUp</string>
	<key>PROJECT_ID</key>
	<string>flutter-main-c-project</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-main-c-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619698515886:ios:f0762231f2211c9b97223f</string>
</dict>
</plist>